In [55]:
import pandas as pd
import numpy as np
df_out = pd.read_csv ('output.csv')
df_data = pd.read_csv('islanddata.csv')
df_out.describe()

         Approach1    Approach2
count  1000.000000  1000.000000
mean      3.591960     3.608784
std       1.322007     1.337360
min       0.550689     0.550689
25%       2.638595     2.639185
50%       3.465585     3.529782
75%       4.535270     4.553469
max       7.511504     7.217945

In [56]:
df_coords = pd.concat([df_data.iloc[:,i:i+2].set_axis(['x','y'],inplace=False,axis=1) for i in range(0,7,2)], ignore_index=True)
df_coords.describe()

                 x            y
count  4000.000000  4000.000000
mean     -0.172086     0.260097
std       9.818042     9.964391
min     -19.804000   -19.978000
25%      -7.928000    -7.601750
50%      -0.094500     0.261500
75%       7.548250     8.393000
max      19.909000    19.886000

Average distance from treasure

In [57]:
df_data.apply(lambda x:sum(np.linalg.norm(p - np.array([x[8],x[9]])) for p in np.reshape(x.iloc[0:8].array,(4,2)))/4, axis=1).describe()

count    1000.000000
mean       17.973803
std         4.822840
min         5.369796
25%        14.396924
50%        17.625627
75%        21.188021
max        33.268558
dtype: float64

In [58]:
df_treasure = df_data.iloc[:,8:10]
df_treasure.describe()

                tx           ty
count  1000.000000  1000.000000
mean     -0.195796     0.083585
std      10.205473     9.840308
min     -19.713000   -19.638000
25%      -8.158000    -7.968000
50%      -0.665000     0.581000
75%       8.457500     7.903500
max      19.826000    19.627000

In [59]:
import statsmodels.stats.api as sm
#confidence interval for the 2 approaches
cm = sm.CompareMeans(sm.DescrStatsW(df_out["Approach1"]), sm.DescrStatsW(df_out["Approach2"]))
cm.tconfint_diff(alpha=0.05,alternative='two-sided')

(-0.13344650536627475, 0.09979822831206372)

In [60]:
#CI for Approach 1 vs "oracle"
oracle = df_data.apply(lambda x:min(np.linalg.norm(p - np.array([x[8],x[9]])) for p in np.reshape(x.iloc[0:8].array,(4,2))), axis=1)/5
print(oracle.describe())
cm = sm.CompareMeans(sm.DescrStatsW(df_out["Approach1"]), sm.DescrStatsW(oracle))
cm.tconfint_diff(alpha=0.05,alternative='two-sided')

count    1000.000000
mean        1.950851
std         1.077926
min         0.015556
25%         1.132624
50%         1.810468
75%         2.615745
max         5.839800
dtype: float64

(1.5353229710843095, 1.7468958418085359)

In [61]:
df_uniq = df_out.query("Approach1 != Approach2")
print(df_uniq.describe())
cm = sm.CompareMeans(sm.DescrStatsW(df_uniq["Approach1"]), sm.DescrStatsW(df_uniq["Approach2"]))
cm.tconfint_diff(alpha=0.05,alternative='two-sided')

        Approach1   Approach2
count  219.000000  219.000000
mean     3.817156    3.893979
std      1.339126    1.393186
min      1.300673    0.825869
25%      2.792432    2.851228
50%      3.647820    3.898520
75%      4.808893    4.867492
max      7.511504    7.217945

(-0.33346802562295985, 0.1798229249188028)